@import "tailwindcss";

@theme inline {
  --color-bg-dark: #14141a;
  --color-bg-light: #fcfcfc;
  --color-bg-card: #f0f4f7;
  --color-text-dark: #1e1e1f;
  --color-text-light: #e4e4e4;
  --color-text-muted: #888888;
  --color-accent: #4834d4;
  --color-accent-hover: #5b45e0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fcfcfc;
  color: #1e1e1f;
}
